
   #sideNav{
    background-color: gray;
    width: 20%;
    height: 100vh;
   }

   .menuItem{
      cursor: pointer;
      font-size: 150%;
   }

   #main{
    background-color: aliceblue;
    width:80%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
   }

   #mainConatiner{
      max-width:99vw;
   }

   .selected{
      font-weight:bold;
      color:rgb(15, 66, 64);
   }