
   #sideNav{
    background-color: gray;
    width: 20%;
    height: 100vh;
   }
   #main{
    background-color: aliceblue;
    width:80%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
   }
   #mainConatiner{
      width:99%;
   }
