
   #sideNav{
    background-color: gray;
    width: 20%;
    /* height: 100%; */
   }

   .menuItem{
      cursor: pointer;
      font-size: 150%;
   }

   #main{
    background-color: aliceblue;
    width:80%;
    /* overflow-y: auto; */
    overflow-x: hidden;
    /* height: 100vh; */
   }

   #mainConatiner{
      max-width:100%;
      overflow-x: hidden;
      height: 100%;

   }

   .selected{
      font-weight:bold;
      color:rgb(15, 66, 64);
   }

   .signinName{
      text-align: right;
      margin-right: 10%;
      font-size: medium;
   }
   #erclogo{
      width:100%
   }