.addClientCard{
    padding:10%;
    margin-bottom:2%;
}
.radioButtons{
    display: block;
}
#empCard{
    margin-bottom:.5%;
}

.createNewCard{
    height: 100% !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textInCreateCard{
    margin-left: 3%;
    display:grid;
    align-items: center;
}
.deleteButton{
    text-align: right;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
.textRight{
    text-align: right;
}