.addClientCard{
    padding:10%;
    margin-bottom:2%;
}
.radioButtons{
    display: block;
}
#empCard{
    margin-bottom:.5%;
}

.createNewCard{
    height: 80% !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: left;
}
.textInCreateCard{
    display:grid;
    align-items: center;
    margin: 20%;
    font-weight: bolder;
}
.deleteButton{
    text-align: right;
    font-weight: bold;
    color: red;
    cursor: pointer;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.editItem{
    margin-right: 10%;
    color: rgb(247, 247, 254);
    background-color: rgb(199, 26, 251);
    font-weight: bolder;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.editItem:hover{
    background-color: rgb(247, 247, 254) ;
    color: rgb(199, 26, 251) ;
}
