
.my-modal{
    max-width: none !important;
    width:95% !important;
}
.error-outofBounds{
    background-color: rgb(220, 135, 135);
    color:red;
}

#deleteStamp{
    cursor: pointer;
    text-align: right;
    color: red;
}
.flex-container{
    display: flex;
}
.dayDetails{
    margin: 2%;
}
.cardtitle{
    padding-left:5%;
    padding-top:2%;
    font-size: 150%;
}