.adminPrefs{
    text-align: left;
}
.savePrefsButton{
    text-align: right;
}
.numberStyle{
    width: 5%;
}
.delete{
  cursor: pointer;
}

.displayValue{
    padding-right:.3%;
    box-shadow: 3px 3px 1px  blueviolet;
}